* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.contenedor {
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 20%;
    background-color: pink;
}

section {
    width: 100vw;
    height: 45%;
    background-color: blueviolet;
}

.seccion_parametros {
    display: flex;
}

.contenedor_parametros {
    width: 45%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.contenedor_parametros div {
    height: 20%;
    width: 100%;
    background-color: blue;
}

.contenedor_informacion {
    width: 35%;
    height: 100%;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.contenedor_informacion div {
    height: 20%;
    width: 100%;
    background-color: green;
}

.contenedor_botones {
    width: 20%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.contenedor_botones div {
    height: 20%;
    width: 100%;
    background-color: orange;
}

footer {
    width: 100vw;
    height: 10%;
    background-color: bisque;
}