@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Roboto;
}

.divisor {
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
}

.tapador_uno,
.tapador_dos,
.tapador_tres {
    height: 400px;
    width: 300px;
    background-color: #e7e6e6;
    z-index: 0;
    position: absolute;
    top: 20%;
}

.tapador_uno {
    left: 5%;
    width: 760px;
    animation-name: tapador1;
    animation-duration: 0.5s;
    animation-delay: 4.7s;
    animation-fill-mode: forwards;
}

.tapador_dos {
    left: 50%;
    width: 400px;
    animation-name: tapador1;
    animation-duration: 0.5s;
    animation-delay: 4.7s;
    animation-fill-mode: forwards;
}

.tapador_tres {
    left: 75%;
    animation-name: tapador1;
    animation-duration: 0.5s;
    animation-delay: 4.7s;
    animation-fill-mode: forwards;
}

.imagen1 {
    width: 100px;
    height: 200px;
    position: absolute;
    top: 40vh;
    left: 50%;
    animation-name: imagen-uno;
    animation-delay: 0.75s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    top: 120vh;
    right: 50%;
    z-index: 3;
}

.cortina-izquierda {
    width: 50%;
    position: absolute;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.753);
    animation-name: cortina-izquierda;
    animation-delay: 2s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    z-index: 2;
}

.linea-izquierda {
    width: 1px;
    height: 50%;
    background-color: black;
    position: absolute;
    top: 120vh;
    right: 50%;
    z-index: 3;
    animation-name: linea-izquierda;
    animation-delay: 0.75s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.linea-derecha {
    width: 1px;
    height: 50%;
    background-color: black;
    position: absolute;
    top: -100vh;
    left: 50%;
    z-index: 3;
    animation-name: linea-derecha;
    animation-delay: 0.75s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.cortina-derecha {
    width: 50%;
    position: absolute;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.753);
    left: 50%;
    animation-name: cortina-derecha;
    animation-delay: 2s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    z-index: 2;
}

.imagen1 img {
    width: 102.5px;
    height: auto;
    z-index: 3;
}

.imagen2 {
    width: 100px;
    height: 200px;
    position: absolute;
    animation-name: imagen-dos;
    animation-delay: 0.75s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    top: -25vh;
    right: 50%;
    z-index: 3;
}

.imagen2 img {
    width: 100px;
    height: auto;
    z-index: 3;
}

.area-reset-origen {
    display: flex;
    width: 80%;
}

h1,
h2 {
    text-align: center;
}

.contenedor {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    display: flex;
    flex-direction: column;
    background: #e7e6e6;
    color: #555555;
}

header {
    margin: 0 auto;
    width: 90vw;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

header h1 {
    animation-name: aparicion-titulo;
    animation-delay: 5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-bottom: 5px;
}

section {
    width: 100vw;
}

.seccion_parametros {
    display: flex;
}

.contenedor_parametros {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.parametro_uno,
.parametro_dos,
.parametro_tres {
    width: 100%;
    display: flex;
    align-items: center;
}

.contenedor_informacion {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.contenedor_informacion input {
    height: 40%;
    font-size: 100%;
    width: 45%;
    margin: 1% 0 1% 0;
    border: 0;
    border-bottom: 2px solid #04a504;
    background-color: white;
    outline: none;
}

#infor1,
#infor2,
#infor3 {
    background: rgba(211, 211, 211, 0);
}

.informacion_uno,
.informacion_dos,
.informacion_tres {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor_informacion div {
    height: 20%;
    width: 100%;
}

.contenedor_botones {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 100px;
}

.contenedor_botones div {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    background-color: rgb(237, 234, 234);
    outline: none;
}

button:hover {
    text-shadow: 0px 0px 0px;
}


/* Sliders */

#propiedad1,
#propiedad2 {
    background: white;
}

#propiedad1,
#propiedad2,
#propiedad3,
#propiedad4 {
    height: 40%;
    font-size: 100%;
    width: 40%;
    min-width: 100px;
    margin: 1% 0 1% 0;
}

.sliders {
    width: 80%;
}

.alarm_icon {
    width: 40px;
    height: auto;
}

.botones {
    width: 50%;
    height: 80%;
    font-size: 100%;
    border-radius: 3px;
    color: black;
    background-color: white;
    outline: none;
    box-shadow: 6px 6px 0px #999;
    transition: all 0.2s ease 0s;
    min-width: 80px;
}

.area-reset-origen .botones {
    width: 30%;
    height: 50px;
    margin: 0 10px;
    box-shadow: 6px 6px 0px #999;
    transition: all 0.2s ease 0s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.area-reset-origen .botones:active {
    box-shadow: 2px 2px 2px #777, 0px 0px 2px 0px;
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff;
    transform: translateY(4px);
    transition: all 0.1s ease 0s;
}

.botones:active {
    box-shadow: 2px 2px 2px #777, 0px 0px 2px 0px;
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff;
    transform: translateY(4px);
    transition: all 0.1s ease 0s;
}

.div_pr {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 50%;
    padding-left: 10%;
    margin-top: 1.2em;
}

.div_btn {
    display: flex;
    height: 50%;
    width: 20%;
    justify-content: center;
    align-items: center;
}


/* Estilos footer*/

footer {
    width: 100vw;
    height: 4%;
    color: #A6A6A6;
    background-color: #333333;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: #A6A6A6;
}

.twitter:visited,
.instagram:visited,
.github:visited {
    color: #A6A6A6;
}

.twitter:hover {
    background-color: #1da1f2;
    color: #fff;
}

.github:hover {
    background-color: #000000;
    color: #fff;
}

.instagram:hover {
    background-color: #9938bd;
    color: #fff;
}


/*Fin estilos footer*/

@keyframes cortina-izquierda {
    from {
        top: 0%;
        left: 0vw;
    }
    50% {
        top: 0%;
        left: 0vw;
    }
    to {
        left: -100vw;
    }
}

@keyframes cortina-derecha {
    from {
        top: 0%;
        left: 50vw;
    }
    50% {
        top: 0%;
        left: 50vw;
    }
    to {
        left: 150vw;
    }
}

@keyframes imagen-dos {
    from {
        top: -25vh;
        right: 50%;
    }
    35% {
        top: 40vh;
        right: 50%;
    }
    65% {
        top: 40vh;
        right: 50%;
    }
    to {
        top: 40vh;
        right: 100vw;
    }
}

@keyframes imagen-uno {
    from {
        top: 120vh;
        left: 50%;
    }
    35% {
        top: 40vh;
        left: 50%;
    }
    65% {
        top: 40vh;
        left: 50%;
    }
    to {
        top: 40vh;
        left: 100vw;
    }
}

@keyframes linea-izquierda {
    from {
        top: 120vh;
        right: 50vw;
    }
    35% {
        top: 25vh;
        right: 50vw;
    }
    65% {
        top: 25vh;
        right: 50vw;
    }
    to {
        top: 25vh;
        right: 100vw;
    }
}

@keyframes linea-derecha {
    from {
        top: -100vh;
        left: 50%;
    }
    35% {
        top: 25vh;
        left: 50%;
    }
    65% {
        top: 25vh;
        left: 50%;
    }
    to {
        top: 25vh;
        left: 100vw;
    }
}

@keyframes aparicion-titulo {
    from {
        opacity: 0;
        margin-bottom: 5px;
        width: 17vw;
        border-bottom: 0px solid #04a504;
    }
    to {
        opacity: 1;
        margin-bottom: 5px;
        width: 90vw;
        border-bottom: 3px solid #04a504;
    }
}

@keyframes tapador1 {
    from {
        height: 400px;
    }
    to {
        height: 0px;
    }
}

.seccion-animacion {
    width: 100vw;
    height: 40%;
    display: flex;
    z-index: 0;
    justify-content: center;
    align-items: center;
}

.barra_progreso {
    width: 90vw;
    height: 10px;
    z-index: 0;
    border: 1px solid #25daa5;
    background-color: #25daa40f;
    border-radius: 3px;
}

.relleno {
    width: 0%;
    height: 10px;
    border-radius: 3px;
    background-color: #25daa5;
    transition: all 1s ease-in-out;
}


/* SLIDER */

.slider_nuevo.ui-slider {
    background: #d5cebc;
    border: none;
    border-radius: 0;
}

.slider_nuevo.ui-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 50% 50% 0;
    border-color: transparent;
    transition: border 0.4s ease;
}

.slider_nuevo.ui-slider .ui-slider-handle.ui-state-hover,
.slider_nuevo.ui-slider .ui-slider-handle.ui-state-focus,
.slider_nuevo.ui-slider .ui-slider-handle.ui-state-active {
    /*border-color: #172f38; */
}

.slider_nuevo.ui-slider .ui-slider-pip .ui-slider-line {
    background: #d5cebc;
    transition: all 0.4s ease;
}

.slider_nuevo.ui-slider.ui-slider-horizontal {
    margin-top: 25px;
    margin-top: 1.4em;
    height: 6px;
}

.slider_nuevo.ui-slider.ui-slider-horizontal .ui-slider-handle {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    top: -25px;
    margin-left: -10px;
}

.slider_nuevo.ui-slider.ui-slider-horizontal .ui-slider-pip {
    top: 10px;
}

.slider_nuevo.ui-slider.ui-slider-horizontal .ui-slider-pip .ui-slider-line {
    width: 2px;
    height: 10px;
    margin-left: -1px;
}

.slider_nuevo.ui-slider.ui-slider-horizontal .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
    height: 20px;
}

.slider_nuevo.ui-slider.ui-slider-horizontal .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    height: 12px;
}

.slider_nuevo.ui-slider.ui-slider-vertical {
    width: 6px;
    height: 125px;
    display: inline-block;
    margin: 0 15%;
}

.slider_nuevo.ui-slider.ui-slider-vertical .ui-slider-handle {
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    left: -25px;
    margin-bottom: -10px;
}

.slider_nuevo.ui-slider.ui-slider-vertical .ui-slider-pip {
    left: 10px;
}

.slider_nuevo.ui-slider.ui-slider-vertical .ui-slider-pip .ui-slider-line {
    height: 2px;
    width: 10px;
    margin-top: -1px;
}

.slider_nuevo.ui-slider.ui-slider-vertical .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
    width: 20px;
}

.slider_nuevo.ui-slider.ui-slider-vertical .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    width: 12px;
}

.slider_nuevo.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip,
.slider_nuevo.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip {
    visibility: visible;
    opacity: 1;
    border: none;
    background: transparent;
    left: 50%;
    width: 30px;
    margin-left: -15px;
    text-align: center;
    color: white;
    font-weight: normal;
    top: 10px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.slider_nuevo.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip:before,
.slider_nuevo.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip:before {
    display: none;
}

.slider_nuevo .ui-slider-handle,
.slider_nuevo .ui-slider-range,
.slider_nuevo .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
.slider_nuevo .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    background-color: #25daa5;
    /*QUITAR EL BORDE AZUL CUANDO SE SELECCIONA*/
    outline: none;
}


/*CUANDO SE LE HACE FOCUS BRILLA EL BORDE PARA MAYOR CLARIDAD (EL COLOR PUEDE CAMBIAR)*/

.slider_nuevo .ui-slider-handle:focus,
.slider_nuevo .ui-slider-range:focus,
.slider_nuevo .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line:focus,
.slider_nuevo .ui-slider-pip.ui-slider-pip-inrange:focus .ui-slider-line:focus {
    border-color: #da211b;
}


/*COOKIES*/

#barraaceptacion {
    display: none;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    min-height: 40px;
    background-color: #333333;
    ;
    color: #A6A6A6;
    z-index: 99999;
}

.cookies {
    width: 100%;
    position: absolute;
    padding-left: 5px;
    font-family: verdana;
    font-size: 12px;
    top: 30%;
}

.cookies a.ok {
    padding: 4px;
    color: #25daa5;
    text-decoration: none;
}

.cookies a.info {
    padding-left: 5px;
    text-decoration: none;
    color: #ffffff;
}