.movil {
    display: none;
}

@media screen and (max-width: 719px) and (min-width:360px) {
    h1 {
        font-size: 25px;
    }
    .movil {
        display: block;
    }
    .header {
        background-color: rgb(216, 213, 213);
    }
    /*
    footer {
        display: none;
    }*/
    .seccion_parametros {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        overflow: auto;
    }
    .contenedor_parametros {
        height: 30%;
        margin: 50px;
    }
    .contenedor_botones {
        height: 30%;
        margin: 13px;
        flex-direction: row;
        width: 90%;
        order: -1;
        margin-top: 28%;
    }
    #r-cotas {
        display: none;
    }
    #r-paradas {
        display: none;
    }
    #boton_parada,
    #boton_cota {
        margin-left: 70px;
    }
    .contenedor_informacion {
        display: none;
        height: 30%;
        margin: 50px;
        margin-top: 100px;
        flex-direction: column;
        width: 90%;
    }
    .contenedor_informacion div {
        width: 20%;
    }
    #infor1,
    #infor2,
    #infor3 {
        justify-content: flex-start;
        min-width: 90px;
        max-width: 100px;
    }
    #infor1 input,
    #infor2 input,
    #infor3 input {
        justify-content: flex-start;
        min-width: 100px;
        max-width: 100px;
    }
    .parametro_uno,
    .parametro_dos,
    .parametro_tres {
        width: 200%;
        display: flex;
        align-items: center;
        margin-left: -50%;
    }
    .contenedor_informacion {
        flex-direction: column;
        width: 15%;
        height: 20%;
        padding: 15px;
        justify-content: space-between;
        margin-top: 10%;
    }
    .seccion-animacion {
        height: 22%;
        background-color: rgb(216, 213, 213);
    }
    .barra_progreso {
        margin-bottom: 10%;
    }
    header {
        margin-bottom: -5%;
    }
    .parada-uno,
    .parada-dos,
    .parada-tres,
    .parada-cuatro {
        display: none;
    }
    .cookies {
        display: hidden;
    }
    .barraaceptacion {
        display: hidden;
    }
}