*{
	box-sizing: border-box;
	background: #F5F5F5;

	
}
body{
	max-width: 1000px;
	margin: 0 auto;
	font-family: Roboto;
}

h1, h2{
	color:#F5F5F5;
	text-align: center;
	clear: both;
	background: -moz-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(140,207,58,1) 56%, rgba(85,170,40,1) 100%);
	margin:0;
	padding: 5px;
}
h1{
	margin-top: 20px;
}
h2{
	margin-bottom: 20px;
}
header{
	
}
#contenedor{
	background: #F8F8F8;
}
#contenido {
  	width: 100%;
 	height: 180px;
	display: flex;

}
#vista_botones {
  /*float: left;*/
  width: 75%;
  height: 100%;
  padding: 3.5%;
 
}
#estado {
  /*float: left;*/
  width: 25%;
  height: 100%;
}
#estado p{
	background-image: url("./img/semaforo_bn.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 50%;
	padding: 4%;
	text-align: right;
	margin:2px;
}
#estado p:hover{
	background-image: url("./img/semaforo.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 50%;
	padding: 4%;
	text-align: right;
	margin:2px;
}
input[type=text] {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: 2px;
}
input[type=button]{
	width: 10%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	margin: 2px;
}
input[type="range"]{

}
#vista_datos{
	width: 100%;
}
#vista_datos input[type=text]{
	float:right;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

#verde{
	width: 100%;
	height: 70px;
	clear: both;
	margin-top: 20px;
}

.semaforo_e:hover,.semaforo_b:hover,.semaforo_r:hover,.semaforo_i:hover{

}
.tranvia{
	width:50%;
	margin-left: 25%;
	animation-duration: 10s;
	animation-name: tranvia;
	animation-direction: alternate;
}
/* Intento de animacion*/
@keyframes tranvia{
	from{
		margin-left: -200%;
	}
	50%{

		margin-right: 12%;
		
	}

	to{
		margin-left: 25%;
	}
}
footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #333333;
	text-align: center;
	height: 100px;
}
footer p{
	background: #333333;
	color:#a6a6a6;;
}