body {
    background-color: lightgoldenrodyellow;
    margin: 0 3% 0 3%;
    font-size: 2em;
}

h5, h3 {
    margin-top: 0;
}

h3 {
    margin-bottom: 0;
}

#user {
    position: absolute;
    top: 4%;
    right: 3%;
}

#info, #acciones {
    width: 40%;
    margin: 0 3% 3% 3%;
    border: solid 3px black;
    border-radius: 15px;
    padding: 1.5%;
}

#info {
    background-color: lightblue;
    float: left;
}

#acciones {
    background-color: lightblue;
    float: right;
    font-size: 1em;
    padding-bottom: 2.4%;
}

#info table {
    width: 100%;
}

.valor, .propiedad {
    padding: 1% 0 1% 0;
}

.propiedad {
    font-weight: bold;
}

.valor {
    font-style: italic;
}

.btnSinInput {
    width: 100%;
}

.btnSinInput label {
    visibility: hidden;
}

.btnConInput {
    width: 100%;
    margin-top: 30px;

}

button {
    float: right;
    width: 20%;
    height: 45px;
    font-size: 100%;
}

.btnConInput input {
    height: 38px;
    width: 30%;
    font-size: 0.8em;
}

#parteGrafica {
    background-color: lightsalmon;
    position: absolute;
    bottom: 5%;
    left: 6%;
    right: 6%;
    top: 52%;
    border: black solid 3px;
    border-radius: 15px;
}

#lineaRecta {
    position: absolute;
    top: 65%;
    height: 7.5%;
    left: 5%;
    right: 5%;
    background-color: darkgray;
    border-radius: 10px;
}

#lineaVerde {
    height: 100%;
    background-color: darkgreen;
    z-index: 10;
    width: 0;
    border-radius: 10px;
    animation: completar 10s forwards;
}

@keyframes completar
{
    from {width: 0;}
    to {width: 100%}
}

.circulito {
    position: absolute;
    border-radius: 50%;
    width: 5%;
    height: 200%;
    top: -50%;
    background-color: darkgray;
    border: 3px black solid;
    z-index: 20;
}

#parada1 {
    left: -1%;
}

#parada2 {
    left: 33%;
}

#parada3 {
    left: 66%;
}

#parada4 {
    right: -1%;
}
.palo{
    position: absolute;
    width: 1px;
    background-color: black;
    bottom: 30%;
    border: 3px black solid;
}
#palo1{
    left: 6.3%;
}
#palo2{
    left: 36.9%;
}
#palo3{
    left: 66.6%;
}
#palo4{
    right: 6.3%;
}